.filters {
  margin-top: 60px !important;
  width: calc(100% - 48px) !important;
}

.chosen-filters {
  width: calc(100% - 48px) !important;
  height: auto;
  margin: -10px auto 10px auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.chosen-one {
  margin-left: 24px !important;
}

.grid-item img {
  width: 100%;
  border-radius: 5px;
}
.container {
  width: 100%;
  margin: 30px auto 80px auto;
}
.container .grid {
  display: flex;
}
.container .grid .grid-col {
  flex: 1;
  padding: 0 0.1em;
}
.grid-col--2,
.grid-col--3 {
  display: none;
}
.grid-item {
  margin: 5px;
  padding: 0;
  position: relative;
}

.image-overlay {
  position: absolute;
  bottom: 10px;
  right: 18px;
  color: #fff;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.grid-item:hover .image-overlay {
  opacity: 1;
  pointer-events: all;
}

.image-overlay button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  text-shadow: 5px 5px #000;
}
.image-overlay button span {
  text-shadow: 2px 2px #ff0000;
}

@media only screen and (max-width: 860px) {
  .filters {
    margin-top: 60px !important;
    width: 97% !important;
  }

  .chosen-filters {
    width: 97% !important;
    height: auto;
    margin: -10px auto 10px auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .chosen-one {
    margin-left: 1.5% !important;
  }
}

@media (min-width: 768px) {
  .container {
    width: 98%;
  }
  .grid-col--2 {
    display: block;
  }
  .grid-col {
    padding: 0 0.5em;
  }
  .content {
    opacity: 0;
    transform: translateX(-0.5em);
    transition: all 2s;
    will-change: opacity, transform;
  }
  .grid-item:hover {
    cursor: pointer;
  }
  .grid-item:hover .content {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 1080px) {
  .grid-col--3 {
    display: block;
  }
  .container {
    width: 98%;
  }
}

@media (max-width: 1080px) {
  .mobile-col-del {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    width: 90%;
    margin: 80px auto;
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
