
body {
	font-family: 'sofiapro-light' !important;
}


.ic-mimari {
	display: none;
}


input[type="text"]:focus {
	border-bottom: 2px solid #D19E2C !important;
	transition: .3s;
}

.yeni-resim {
	padding: 12px 25px;
	background-color: #D19E2C;
	color: #fff;
	cursor: pointer;
	font-family: 'nunito-bold';
	border-radius: 22px;
}

#editor {
	height: 120px;
}


.filters {
	margin: 0;
}


label {
	margin: 0 !important;
}


