

.tabs .dropdown-tab p {
	font-family: 'nunito-light';
}

section.design-competition-tasarim {
	width: 100%;
	height: auto;
}


section.design-competition-tasarim .card-container-tasarim {
	width: 90%;
	height: auto;
	margin: 30px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim {
	width: 320px;
	margin: 10px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim {
	width: 320px;
	height: auto;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	background: none;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim img.main-img {
	width: 320px;
	height: 250px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
	border-radius: 5px;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim .card-bottom {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	margin: 3px 0;
	background: none;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim .card-bottom img {
	border-radius: 50%;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim .card-bottom > a {
	font-size: 14px;
	font-family: 'sofiapro-light';
	font-weight: bolder;
	color: #363732;
	margin-left: 10px;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim .card-bottom .card-buttons {
	margin-left: auto;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim .card-bottom .card-buttons button {
	background: none;
	border: none;
	color: #555;
	font-size: 12px;
	font-family: 'nunito-bold';
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim > a {
	width: 110px;
	height: 40px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #AA7C13;
	font-weight: var(--bold);
	font-size: 17px;
	border: 2px solid #AA7C13;
	margin-top: 20px;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim > a:hover {
	transition: .3s;
	background-color: #AA7C13;
	color: #fff;
}


section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim .card-img-overlay-tasarim {
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 35px;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.76) 0%, rgba(125,185,232,0) 100%);
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.76) 0%,rgba(125,185,232,0) 100%);
	background: linear-gradient(to top,  rgba(0,0,0,0.76) 0%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db000000', endColorstr='#007db9e8',GradientType=0 );
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	padding: 10px;
	border-radius: 0 0 5px 5px;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim:hover .card-img-overlay-tasarim {
	display: flex;
	padding-left: 26px;
	padding-bottom: 16px;
}


section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim .card-img-overlay-tasarim span {
	font-size: 12px;
	font-family: 'sofiapro-light';
	font-weight: lighter;
	color: #FFD982;
	margin-left: 5px;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim .card-img-overlay-tasarim p {
	font-size: 16px;
	font-family: 'sofiapro-light';
	color: #fff;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim .card-img-overlay-tasarim p > b {
	font-size: 16px;
	font-weight: var(--medium);
	color: #FFD982;
	margin-left: 7px;
	display: inline-flex;
	align-items: center;
}

section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim .card-img-overlay-tasarim p > b > img {
	width: 15px;
	height: 14px;
	margin-right: 2px;
}



.chosen-one {
	margin-bottom: -20px;
	width: 89%;
	margin-left: auto;
	margin-right: auto;
}

.chosen-one p {
	font-family: 'sofiapro-light';
	font-size: 17px;
	color: #231F20;
}

.chosen-one p > span {
	color: #D19E2C;
}

.filters {
	width: 88.5%;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 20px;
	height: 80px;
	padding-bottom: 20px;
	display: flex;
	align-items: flex-end;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.filters::-webkit-scrollbar {
	display: none;
}

.filters button {
	width: 90px;
	height: 36px;
	border: 1px solid #504C43;
	border-radius: 8px;
	background: transparent;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	font-family: 'sofiapro-light';
	font-size: 15px;
	color: #3A3A39;
	cursor: pointer;
}

.filters button.filter-button-primary {
	width: 100px;
	height: 36px;
	border: 0;
	border-radius: 8px;
	background-color: #D19E2C;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	font-family: 'sofiapro-light';
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}

.filter-pop {
	width: 420px;
	height: auto;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	z-index: 9995;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	margin-top: 10px;
	padding: 20px;
	display: none;
}

.filter-open {
	display: block;
}

.filter-tools .filter-pop input {
	width: 100%;
	height: 34px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	text-indent: 10px;
}

.filter-tools .filter-pop p {
	color: #767676;
	font-size: 11px;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 10px;
	width: 100%;
	font-family: 'nunito-bold';
}

.filter-tools .filter-pop .results {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.filter-tools .filter-pop .results a {
	padding-top: 5px;
	font-size: 14px;
	font-family: 'nunito-regular';
	color: #222;
}

.filter-tools .filter-pop .results a:hover {
	text-decoration: underline;
}

.active-filter {
	display: block !important;

}

.konum .filter-pop form {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 20px;
}


.konum .filter-pop form label {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.konum .filter-pop form select {
	flex: 1;
	margin-left: 20px;
	height: 35px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	cursor: pointer;
}

.konum .filter-pop form label input {
	flex: 1;
	margin-left: 73px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	text-indent: 10px;
	height: 35px;
}

.konum-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 10px;
}

.konum-buttons a {
	color: #888;
	margin-right: 15px;
}

.konum-buttons button {
	background-color: #AA7C13;
	border-radius: 22px;
	color: #fff;
}





/* design top categories */


section.design-cate {
	width: 90%;
	height: auto;
	margin: 80px auto 0 auto;
	position: relative;
}



section.design-cate .cate-carousel {
	display: flex;
	width: 93%;
	margin: 0 auto;
	height: 100%;
	align-items: center;
	justify-content: center;
}

section.design-cate .cate-carousel .cate-item {
	max-width: 110px;
	height: auto;
	margin-left: 20px;
	border-radius: 25px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}


section.design-cate .cate-carousel .cate-item a.item-box {
	max-width: 110px;
	height: 110px;
	border-radius: 25px !important;
	display: flex;
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0,0,0,.16);
}

section.design-cate .cate-carousel .cate-item a.item-box img {
	width: 100%;
	height: 100%
	border-radius: 25px;
}

section.design-cate .cate-carousel .cate-item  p {
	text-align: center;
	margin-top: 10px;
	color: #231F20;
	font-family: 'sofiapro-light';
	font-size: 15.5px;
	font-weight: normal;
}

.cate-overlay {
	display: none;
}


.active-cate .cate-overlay {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-family: 'sofiapro-light';
	font-weight: bolder;
	letter-spacing: 1px;
	width: 110px;
	height: 110px;
	border-radius: 25px;
	background-color:rgba(209, 158, 44, .5);
}



.cate-item:hover .cate-overlay {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-family: 'sofiapro-light';
	font-weight: bolder;
	letter-spacing: 1px;
	width: 110px;
	height: 110px;
	border-radius: 25px;
	background-color:rgba(209, 158, 44, .5);
}

.cate-item:hover > p {
	position: absolute;
	left: 50%;
	top: 32px;
	transform: translateX(-50%);
	color: #fff !important;
}

.active-cate p {
	display: flex;
	position: absolute;
	left: 50%;
	top: 32px;
	transform: translateX(-50%);
	font-size: 16px;
	color: #fff !important;
}

.cate-overlay p {
	display: none;
}




.owl-controls {
	display: none !important;
}

.cate-left {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	font-size: 40px;
	cursor: pointer;
	color: #3A3A39;
}

.cate-right {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	font-size: 40px;
	cursor: pointer;
	color: #3A3A39;
}




/*
.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';

}
.owl-carousel .owl-nav .owl-prev:before{
    content: "\f053";
    margin-right:10px;
}
.owl-carousel .owl-nav .owl-next:after{
    content: "\f054";
    margin-right:10px;
}




*/











@media only screen and (max-width: 900px) {

	section.design-competition-tasarim .card-container-tasarim .card-tasarim {
		width: 100%;
		margin: 10px 0;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim {
		width: 100%;
		height: auto;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		background: none;
	}

	section.design-competition-tasarim .card-container-tasarim .card-tasarim .card-img-tasarim img.main-img {
		width: 100%;
		height: 260px;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
		border-radius: 5px;
	}


}



@media only screen and (min-width: 1920px) {

	.filters {
		width: 81%;
		margin: 0 auto;
		padding-left: calc((100vw - 1920px) / 2);
		padding-right: calc((100vw - 1920px) / 2);
	}

	.chosen-one {
		width: 81%;
		padding-left: calc((100vw - 1920px) / 2);
		padding-right: calc((100vw - 1920px) / 2);
	}

	section.design-competition-tasarim {
		margin: 0 auto;
		width: 95%;
		padding-left: calc((100vw - 1920px) / 2);
		padding-right: calc((100vw - 1920px) / 2);
	}
}

@media only screen and (max-width: 1024px) {

	section.design-cate {
		width: 100%;
		height: auto;
		margin: 80px auto 0 auto;
		position: relative;
	}


	section.design-cate .cate-carousel {
		display: flex;
		width: 100%;
		max-height: 150px;
		margin: 0 auto;
		height: 100%;
		align-items: center;
		justify-content: flex-start;
	}

	section.design-cate .cate-carousel .cate-item {
		width: 110px;
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.cate-left {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		font-size: 40px;
		cursor: pointer;
		color: #3A3A39;
		display: none !important;
	}

	.cate-right {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		font-size: 40px;
		cursor: pointer;
		color: #3A3A39;
		display: none !important;
	}

}