body {
  background-color: #f6f6f6 !important;
}

section.yarisma-detay-img {
  width: 100%;
  height: 400px;
  margin-top: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

section.yarisma-detay-img img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

section.yarisma-detay-img .yarisma-detay-overlay {
  width: 100%;
  position: absolute;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

section.yarisma-detay-img .yarisma-detay-overlay h2 {
  font-size: 50px;
  font-family: "nunito-bold";
}

section.yarisma-detay-img .yarisma-detay-overlay span {
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  font-family: "nunito-regular";
}

section.yarisma-info {
  width: 100%;
  min-height: 230px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

section.yarisma-info .yarisma-introduce {
  flex: 1;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.yarisma-info .yarisma-introduce h1 {
  font-size: 28px;
  color: #2d2d2d;
  font-family: "nunito-bold";
  margin-bottom: 25px;
}

section.yarisma-info .yarisma-introduce p {
  font-size: 16px;
  color: #5d5d5d;
  font-family: "nunito-light";
  max-width: 530px;
  line-height: 1.6;
}

section.yarisma-info .yarisma-stats {
  flex: 1;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.yarisma-info .yarisma-stats .stat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-right: 1px solid #ddd;
}

section.yarisma-info .yarisma-stats .stat-box:last-child {
  border-right: none;
}

section.yarisma-info .yarisma-stats .stat-box strong {
  font-size: 15px;
  color: #2d2d2d;
  font-family: "nunito-bold";
  text-transform: uppercase;
  margin-bottom: 10px;
}

section.yarisma-info .yarisma-stats .stat-box p {
  font-size: 15px;
  color: #5d5d5d;
  font-family: "nunito-regular";
}

section.yarisma-detay-tabs {
  width: 100%;
  height: 80px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  line-height: 79px;
  padding: 0 calc(8% - 20px);
}

section.yarisma-detay-tabs span {
  padding: 0 20px 0 20px;
  cursor: pointer;
  font-size: 16px;
  color: #2d2d2d;
  font-family: "nunito-bold";
}

section.yarisma-detay-tabs span.active-detay-tab {
  color: #aa7c13;
  border-bottom: 2px solid #aa7c13;
  transition: 0.2s;
}

section.tab-details {
  width: 90%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 50px;
}

/* tab 1 */

.gallery {
  max-width: 100%;
  height: auto;
  margin: 40px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.gallery-img {
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.gallery-img-box {
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.gallery-img-box img {
  width: 100%;
  border-radius: 5px;
}

.gallery-img-box img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.number {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "nunito-bold";
  color: #363237;
  background-color: #ffd982;
  border: 1.5px solid #fff;
}

.index-gallery-bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 5px 0;
  background: none;
}

.index-gallery-bottom img {
  border-radius: 50%;
}

.index-gallery-bottom > a {
  font-size: 16px;
  font-family: "nunito-bold";
  color: #363732;
  margin-left: 10px;
  margin-top: 2px;
}

.index-gallery-bottom .index-gallery-buttons {
  margin-left: auto;
}

.index-gallery-bottom .index-gallery-buttons button {
  background: none;
  border: none;
  color: #555;
  font-size: 12px;
  font-family: "nunito-bold";
}

/* tab 2 */

.yarisma-description {
  display: none;
}

.yarisma-description h3 {
  font-size: 20px;
  color: #2d2d2d;
  font-family: "nunito-bold";
  margin-bottom: 25px;
  margin: 20px;
}

.yarisma-description p {
  font-size: 16px;
  color: #5d5d5d;
  font-family: "nunito-light";
  line-height: 1.6;
  margin: 20px;
}

/* tab 3 */

.yarisma-sources {
  display: flex;
  flex-direction: column;
  display: none;
}

.yarisma-sources .source-plans {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.yarisma-sources .source-plans .source-img {
  width: 300px;
  height: 270px;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}

.yarisma-sources .source-plans .source-img img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.yarisma-sources hr {
  width: 97%;
  margin: 20px auto;
  height: 1px;
  border: none;
  background-color: #ddd;
}

.yarisma-sources > h3 {
  font-size: 20px;
  color: #2d2d2d;
  font-family: "nunito-bold";
  margin-bottom: 25px;
  margin: 20px 0 10px 22px;
}
/* ------------------*/
.sonuclanan-yarisma {
  width: 90%;
  margin: 30px auto;
  height: auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sonuclanan-yarisma .sonuc-box {
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.sonuclanan-yarisma .sonuc-box .sonuc-img-box {
  width: 100%;
  height: 240px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.rank {
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
  background-color: #d19e2c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  font-family: "sofiapro-light";
  font-weight: bolder;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.sonuclanan-yarisma .sonuc-box .sonuc-img-box img {
  width: 100%;
  height: 230px;
}

.sonuclanan-yarisma .sonuc-box .sonuc-img-box .sonuc-img-overlay {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 10px;
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.76) 0%,
    rgba(125, 185, 232, 0) 100%
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.76) 0%,
    rgba(125, 185, 232, 0) 100%
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.76) 0%,
    rgba(125, 185, 232, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db000000', endColorstr='#007db9e8',GradientType=0 );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.sonuclanan-yarisma .sonuc-box .sonuc-img-box .sonuc-img-overlay span {
  font-size: 12px;
  font-family: "sofiapro-light";
  font-weight: lighter;
  color: #ffd982;
  margin-left: 5px;
}

.sonuclanan-yarisma .sonuc-box .sonuc-img-box .sonuc-img-overlay a {
  font-size: 16px;
  font-family: "sofiapro-light";
  color: #fff;
}

.sonuclanan-yarisma .sonuc-box .sonuc-info {
  width: 100%;
  height: 70px;
  margin-top: 0px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
  display: flex;
}

.sonuclanan-yarisma .sonuc-box .sonuc-info .sonuc-user-img {
  flex: 1;
  height: 70px;
  display: flex;
  align-items: center;
}

.sonuclanan-yarisma .sonuc-box .sonuc-info .sonuc-user-img img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #d19e2c;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.53);
}

.sonuclanan-yarisma .sonuc-box .sonuc-info .sonuc-user {
  flex: 3;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px 5px;
}

.sonuclanan-yarisma .sonuc-box .sonuc-info .sonuc-user p {
  font-family: "sofiapro-light";
  font-size: 12px;
  color: #3a3a39;
}

.sonuclanan-yarisma .sonuc-box .sonuc-info .sonuc-user a {
  font-family: "sofiapro-light";
  font-size: 15px;
  font-weight: bold;
  color: #363732;
}

.sonuclanan-yarisma .sonuc-box .sonuc-info .sonuc-user span {
  font-family: "sofiapro-light";
  font-size: 11px;
  color: #6b6a6a;
}

.rate-stars {
  display: flex;
  margin-top: 0px;
  align-items: center;
}

.rate-stars p {
  font-size: 10px;
  color: #5a5a5a;
  margin-left: 5px;
  margin-top: 2px;
}

.fa-star {
  color: #cfcfcf;
  font-size: 9px;
  margin-right: 2px;
}

.checked-star {
  color: #d19e2c;
}

.sonuclanan-yarisma .sonuc-box .sonuc-info .sonuc-award {
  flex: 2;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.sonuclanan-yarisma .sonuc-box .sonuc-info .sonuc-award span {
  font-size: 18px;
  font-family: "sofiapro-light";
  font-weight: bold;
  color: #3a3a39;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.sonuclanan-yarisma .sonuc-box .sonuc-info .sonuc-award span > .fa-star {
  color: #fff;
  background-color: #d19e2c;
  font-size: 17px;
  border-radius: 50%;
  padding: 4px;
  margin-right: 5px;
}

.sonuclanan-yarisma .sonuc-box .sonuc-info .sonuc-award p {
  font-size: 11px;
  font-family: "sofiapro-light";
  color: #6b6a6a;
  margin-top: 10px;
  text-align: right;
}

@media only screen and (max-width: 900px) {
  section.yarisma-info {
    width: 100%;
    min-height: 230px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2%;
  }

  section.yarisma-info .yarisma-introduce {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }

  section.yarisma-info .yarisma-introduce h1 {
    font-size: 28px;
    color: #2d2d2d;
    font-family: "nunito-bold";
    margin-bottom: 25px;
  }

  section.yarisma-info .yarisma-introduce p {
    font-size: 16px;
    color: #5d5d5d;
    font-family: "nunito-light";
    line-height: 1.6;
    max-width: 100% !important;
  }

  section.yarisma-info .yarisma-stats {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  section.yarisma-info .yarisma-stats .stat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-right: 1px solid #ddd;
  }
  /* tab 3 responsive */
  .yarisma-sources {
    display: flex;
    flex-direction: column;
    display: none;
  }

  .yarisma-sources .source-plans {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  /* ------------------*/
  .sonuclanan-yarisma {
    width: 90%;
    margin: 30px auto;
    height: auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sonuclanan-yarisma .sonuc-box {
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .sonuclanan-yarisma .sonuc-box .sonuc-img-box {
    width: 100%;
    height: 240px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }

  .sonuclanan-yarisma .sonuc-box .sonuc-img-box img {
    width: 100%;
    height: 230px;
  }
}

@media only screen and (max-width: 550px) {
  section.yarisma-info .yarisma-introduce {
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }

  section.yarisma-info .yarisma-stats {
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px 0;
  }

  section.yarisma-info .yarisma-stats .stat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border: none;
    text-align: left;
    align-items: flex-start;
  }
  section.yarisma-detay-img .yarisma-detay-overlay h2 {
    font-size: 26px;
    font-family: "nunito-bold";
  }

  /* tab 1 */

  .gallery {
    max-width: 100%;
    height: auto;
    margin: 40px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* tab 3 responsive */
  .yarisma-sources {
    display: flex;
    flex-direction: column;
    display: none;
  }

  .yarisma-sources .source-plans {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1920px) {
  section.yarisma-info {
    width: 90%;
    margin: 0 auto;
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }

  section.yarisma-detay-tabs {
    width: 90%;
    margin: 0 auto;
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }

  section.tab-details {
    width: 90%;
    margin: 0 auto;
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
